<div class="mt-4">
    <h3>Add Customer</h3>
    <form [formGroup]="customerForm" (submit)="updateCustomer()" class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <label for="Name">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="name" id="autoSizingInput">
            </div>
        <div class="col-auto">
            <label for="Phone">Phone</label>
            <div class="input-group">
            <input type="text" class="form-control" formControlName="phone" placeholder="phone" id="autoSizingInputGroup">
            </div>
        </div>
        <div class="col-auto">
            <label for="Address">Address</label>
            <div class="input-group">
            <input type="text" class="form-control" formControlName="address" placeholder="address" id="autoSizingInputGroup">
            </div>
        </div>
    <div class="col-auto">
        <label  for="membership">Membership</label>
        <select class="form-select" formControlName="membership" id="autoSizingSelect">
        <option value="Basic">Basic</option>
        <option value="Pro">Pro</option>
        <option value="Platinum">Platinum</option>
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Update Customer</button>
    </div>
    </form>
</div>